#flashContainer
  - if flash[:error]
    .flashError
      - if flash[:error].is_a?(Array)
        = safe_join(flash[:error], "<br>".html_safe)
      - else
        = flash[:error]
  - if flash[:notice]
    .flashNotice
      - if flash[:notice].is_a?(Array)
        = safe_join(flash[:notice], "<br>".html_safe)
      - else
        = flash[:notice]