$exteriorBackground: #357292;

body {
  background: $exteriorBackground;
}

#container {
  font-size: 18px;
  margin: 20px auto;
  width: 900px;
}

#flashContainer {
  font-size: 14px;
  margin: auto;
  padding-bottom: 20px;
  width: 500px;
}

#logo {
  display: block;
  margin: auto;
}

#mainContentContainer {
  background: white;
  border-radius: 15px;
  padding: 20px;
  max-width: 100%;
  word-wrap: break-word;
}

#navBar {
  background: white;
  border-radius: 15px;
  display: block;
  margin: 20px 0px;
  padding: 20px;
  text-align: right;
  max-width: 100%;
}


#sessionForm {
  display: inline-block;

  .rightButton {
    float: right;
  }

  label {
    float: left;
    font-weight: bold;
    padding-right: 20px;
    text-align: right;
    width: 200px;
  }

  li {
    padding: 10px 0px;
  }

  ul {
    list-style-type: none;  
  } 
}

.flashError {
  background: #E8CACA;
  color: #BF0505;
  font-weight: bold;
  padding: 10px;
}

.flashNotice {
  background: #B1DFBD;
  color: #0B6121;
  padding: 10px;
}

.hideItems {
  margin: 10px 0px;
}

.toDoItem {
  display: inline-block;
  max-width: 95%;
}

.toDoList {
  ul {
    list-style-type: none;
    padding: 0px;
  }

  .done {
    color: gray;
    text-decoration: line-through;
  }
}

